In [ ]:
stuff = ['hello', 'hi', 'how are you doing', 'im fine', 'how about you']

In [ ]:
print(stuff[0])
print(stuff[1])
print(stuff[2])
print(stuff[3])
print(stuff[4])

hello
hi
how are you doing
im fine
how about you

In [ ]:
for thing in stuff:
  print(thing)

hello
hi
how are you doing
im fine
how about you

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for num in list1:
    if num % 2== 0:
        print(num)
    else:
        print('odd')

odd
2
odd
4
odd
6
odd
8
odd
10

In [ ]:
list_sum = 0
for num in list1:
    list_sum+= num
    
print(list_sum)

55

In [ ]:
for letters in [1,2,3]:
    print(letters)

1
2
3

In [ ]:
for letters in (1,2,4):
    print(letters)

1
2
4

In [ ]:

d = {'k1':1,'k2':2,'k3':3}

In [ ]:
for items in d:
    print(items)

k1
k2
k3

In [ ]:
for keys, value in d:
    print(value)

1
2
3

In [ ]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn', 
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'australia':'vienna' }

In [ ]:
for key, value in europe.items() :
     print("the capital of " + str(key) + " is " + str(value))

the capital of spain is madrid
the capital of france is paris
the capital of germany is bonn
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of australia is vienna

In [ ]:
for key, value in europe:
    print(key)
    print(value)

ValueError: too many values to unpack (expected 2)

In [ ]:
for i in range(-50,1):
    print(i)

-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0

In [ ]:
number = int(input("Enter Integer"))
for count in range (1,11):
    product = number* count
    print(number, "*",count, "=", product)

Enter Integer9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [ ]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10,-1,-1):   #start, #stop #step
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
person = {
    'first_name':'Milaan',
    'last_name':'Parmar',
    'age':96,
    'country':'Finland',
    'is_marred':True,
    'skills':['Python', 'Matlab', 'R', 'C', 'C++'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}
for key in person:
    if key == 'skills':
        for skill in person['skills']:
            print(skill)

Python
Matlab
R
C
C++

In [ ]:
for keys in person:
    if keys == "skills":
        for skill in person['skills']:
            print(skill)

Python
Matlab
R
C
C++

In [ ]:
color = ['Red', 'Pink']
element = ['flower', 'watch']

## Red Flower Pink watch  Pink flower Red watch

In [ ]:
for i in color:
    for j in element:
        print(i,j)

Red flower
Red watch
Pink flower
Pink watch

In [ ]:
rows = int(input("Int"))
for i in range (1, rows+1):
    for j in range (rows, i-1, -1):
        print("*", end = "")
    print('')

Int7
*******
******
*****
****
***
**
*