In [1]:
## In Built function in python

y= list(range(1,11))

In [2]:
type(y)

list

In [ ]:
def name(arguments):
    statements
    statements
    
    return values

In [3]:
def greet():
    print("Welcome to DS")

In [5]:
greet()

Welcome to DS

In [10]:
def generate_full_name():
    first_name = "Chandrakant "
    last_name = "Thakur"
    full_name = first_name + last_name
    print(full_name)

In [11]:
generate_full_name()

Chandrakant Thakur

In [17]:
def sum_of_number(n):
    total = 0
    for i in range(n+1):
        total+=i
    print(total,end = " ")

In [18]:
sum_of_number(10)

55

In [21]:
def course(name,course_name):
    print("Hello",name,"Welcome to python for DS")
    print("Your Course name is", course_name)

In [22]:
course("Sive","Data Science")

Hello Sive Welcome to python for DS
Your Course name is Data Science

In [28]:
def area_of_circle(r):
    PI = 3.14
    area = PI * r **2
    return area

In [29]:
area_of_circle(2)

12.56

In [31]:
def area_of_rectangle(l,b):
    area = l*b
    return area

#area_of_rectangle(2,4)

In [32]:
area_of_rectangle(2,4)

8

Class & Object

In [33]:
class Person:
    pass

In [34]:
print(Person)

<class '__main__.Person'>

In [35]:
#Create class and object in python

#def --> Constructer

class student:
    def __init__(self,firstname,lastname,age,country,city):
        self.firstname=firstname    #instance Variable
        self.lastname = lastname    #instance Variable
        self.age = age
        self.country = country
        self.city = city

In [36]:
roll_1 = student("Chandra","Thakur",21,"India","Mumbai")  #roll_1 --> object

In [39]:
print(roll_1.firstname)

Chandra

In [40]:
print(roll_1.lastname)

Thakur

In [41]:
class parrot:
    species = "Bird"
    power = "Flying"
    
    def __init__(self,name,color):
        self.name = name
        self.color = color

In [44]:
boo = parrot("Mithu","Green")

In [45]:
boo.name

'Mithu'

In [46]:
boo.color

'Green'

In [47]:
boo.power

'Flying'

In [48]:
boo.species

'Bird'

In [49]:
parrot.species

'Bird'

In [50]:
parrot.color

AttributeError: type object 'parrot' has no attribute 'color'

In [51]:
def area_traingle(height,base):
    # write your logic here

	print(0.5*height*base)




height = float(input())
base = float(input())

print(area_traingle(height,base))

3
2

NameError: name 'height' is not defined